<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Comment</title>
</head>

<body>
    <h1>Add a new comment</h1>

    <form action="/comments" method="POST">
        <section>
            <label for="username">Enter username</label>
            <input type="text" id="username" name="username" placeholder="name">
        </section>

        <section>
            <label for="comment">Enter your comment</label>
            <br/>
            <textarea id="comment" rows="10" cols="30" name="comment"></textarea>
        </section>

        <button> Submit </button>
    </form>

    <a href="/comments">Back to comments</a>
</body>

</html>