<%- include("partials/header") %>

<h1>List of camps:</h1>

<a href="/camps/new"> Add a new camp</a>

<div>
    <% camps.forEach(function(camp){ %>
        <h4>
            <%= camp.name %>
        </h4>
        <img src="<%= camp.image %>"
</div>

   <% });%>

   <%- include("partials/footer") %>
